/* Button Pink */

.c-button-pink {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: var(--radius3);
  background-color: var(--color-pink);
  color: var(--color-grey-7);
  font-weight: var(--font-weight-2);
}

.c-button-pink.medium {
  max-width: 12rem;
}

.c-button-pink.large {
  max-width: 16rem;
}


